<h1>Import Mandatory Libraries</h1>

In [2]:
import os
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

<h1>Import Csv Files</h1>

In [3]:
data = pd.read_csv("data.csv")
data_not_solved = pd.read_csv("data_didnt_solved.csv")

<h1>Check First Csv File </h1>

In [4]:
data

,name,difficulty,likes,disslikes,isSolved
0,two-sum,Easy,41070,1327,1
1,add-two-numbers,Medium,23221,4483,1
2,longest-substring-without-repeating-characters,Medium,30796,1326,1
3,reverse-integer,Medium,9191,11215,1
4,string-to-integer-atoi,Medium,2656,7850,1
...,...,...,...,...,...
409,maximum-number-of-pairs-in-array,Easy,394,12,1
410,first-letter-to-appear-twice,Easy,569,27,1
411,make-array-zero-by-subtracting-equal-amounts,Easy,581,20,1
412,merge-similar-items,Easy,308,10,1
413,number-of-arithmetic-triplets,Easy,576,20,1

<h1>Check Second Csv File</h1>

In [5]:
data_not_solved

,name,difficulty,likes,disslikes,isSolved
0,minimum-falling-path-sum,Medium,4140,116,0
1,median-of-two-sorted-arrays,Hard,21053,2374,0
2,longest-palindromic-substring,Medium,22965,1342,0
3,zigzag-conversion,Medium,4742,10288,0
4,regular-expression-matching,Hard,9708,1567,0
...,...,...,...,...,...
2067,delete-greatest-value-in-each-row,Easy,122,7,0
2068,longest-square-streak-in-an-array,Medium,202,2,0
2069,design-memory-allocator,Medium,106,55,0
2070,maximum-number-of-points-from-grid-queries,Hard,210,8,0
2071,concatenate-the-name-and-the-profession,Easy,6,1,0

<h1>Turning Difficulty to a Number</h1>

In [6]:
for i in range(len(data)):
    if data.loc[i, "difficulty"] == "Easy":
        data.loc[i, "difficulty"] = 0
    if data.loc[i, "difficulty"] == "Medium":
        data.loc[i, "difficulty"] = 1
    if data.loc[i, "difficulty"] == "Hard":
        data.loc[i, "difficulty"] = 2

for i in range(len(data_not_solved)):
    if data_not_solved.loc[i, "difficulty"] == "Easy":
        data_not_solved.loc[i, "difficulty"] = 0
    if data_not_solved.loc[i, "difficulty"] == "Medium":
        data_not_solved.loc[i, "difficulty"] = 1
    if data_not_solved.loc[i, "difficulty"] == "Hard":
        data_not_solved.loc[i, "difficulty"] = 2
data_not_solved

,name,difficulty,likes,disslikes,isSolved
0,minimum-falling-path-sum,1,4140,116,0
1,median-of-two-sorted-arrays,2,21053,2374,0
2,longest-palindromic-substring,1,22965,1342,0
3,zigzag-conversion,1,4742,10288,0
4,regular-expression-matching,2,9708,1567,0
...,...,...,...,...,...
2067,delete-greatest-value-in-each-row,0,122,7,0
2068,longest-square-streak-in-an-array,1,202,2,0
2069,design-memory-allocator,1,106,55,0
2070,maximum-number-of-points-from-grid-queries,2,210,8,0
2071,concatenate-the-name-and-the-profession,0,6,1,0

<h1>Finding Average</h1>

In [7]:
avgDiff = 0
avgLike = 0
avgDiss = 0

#Assumption is that, the question similar to the average of the questions I have already solved should be easier for me to solve
for i in range(len(data)):
    avgDiff = avgDiff + data.loc[i, "difficulty"]
    avgLike = avgLike + data.loc[i, "likes"]
    avgDiss = avgDiss + data.loc[i, "disslikes"]

avgDiff = avgDiff / len(data)
avgLike = avgLike / len(data)
avgDiss = avgDiss / len(data)

print(avgLike, avgDiss, avgDiff)

3125.0893719806763 560.328502415459 0.11835748792270531

<h1>Find the Next Optimal Question</h1>

In [21]:
import sys

optimal = 0
optimalValue = sys.maxsize * 2 + 1#giving it a size that is big enough to mimic Double.MAX_VALUE of Java.
for i in range(len(data_not_solved)):
    #normalize likes and disslikes
    value = abs(data_not_solved.loc[i, "likes"] - avgLike)/(data_not_solved.loc[i, "likes"]+1) + abs(data_not_solved.loc[i, "difficulty"] - avgDiff)/3 + abs(data_not_solved.loc[i, "disslikes"] - avgDiss)/(data_not_solved.loc[i, "disslikes"]+1)
    if value < optimalValue:
        optimalValue = value
        optimal = i

print("The most optimal question is", data_not_solved.loc[optimal, "name"],"with the score of", optimalValue)

#IMPORTANT NOTES
#After solving this question, we can then delete this question from the data_not_solved and add it to data and run all of these again to find the next best question to solve.
#I wanted to add more data to this project like acceptance_rate, tags of the questions like dynamic_programming, string, binary_tree and number of solution posts, number of discussion posts... Especially the tags section because domain of questions change it's solveability a lot.
#At the time of running first(12.28.2022 2:41 AM) it's recommending me to solve "simplify-path" with the score of 102.64251207729467, I have looked at the question it looks enjoyable and solveable.

The most optimal question is maximum-product-of-three-numbers with the score of 0.13137212977868562